.mail{
    width: 100%;
    background-color: #003580;
}

.mailList {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px ;
    padding: 30px;

}

.mlRating>input {
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.mlRating>button {
    background-color: #0071c2;
    height: 50px;
    font-weight: bold;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
